body {
  background-color: rgb(138, 113, 161);
}
header div {
  text-align: center;

  border: 2px rgb(158, 158, 197) solid;
  border-radius: 30px;
}
header div h1 {
  font-family: "Rubik Puddles", cursive;
  font-size: 3.5em;
}
header div p {
  font-size: 1.5em;
  font-family: "Fjalla One", sans-serif;
}

main div {
  margin: 30px 30px 30px 30px;
  background-color: rgb(174, 165, 206);
  height: 50px;
  border-radius: 30px;
  justify-content: center;
  font-family: "Fjalla One", sans-serif;
  padding-left: 30px;
}

main div input {
  width: 500px;
  border-radius: 30px;
  height: 20px;
  margin-top: 10px;
  border: rgb(182, 142, 182) 1px solid;
}
main div form.textinput {
  font-family: "Fjalla One", sans-serif;
  margin: auto;
}
main div ul {
  margin-top: 50px;
  background-color: pink;
}
